footer.footer 
  .footer__logo 
    img(src='/img/logo-green.png' alt='Counsailia logo')
  ul.footer__nav
    li.a(href='#') About us
    li.a(href='#') Download app
    li.a(href='#') Get counsellor
    li.a(href='#') Carrers
    li.a(href='#') Contact
  p.footer__copyright Developed by #[strong Team Counsailia].